@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter&family=Montserrat:wght@300;400;500;600;700;800&family=Space+Mono&display=swap');

:root {
    --mainColor: #0B5E91;
    --secondaryColor: #000000;
    --acsentColor: #FFFFFF;

}

body {
    min-height: 80vh;
    font-family: 'Montserrat', sans-serif;

}

p {
    color: #000;
}

#landing-page {
    background-image: url(../images/bg\ landing\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

/* Navbar */
.navbar {
    font-size: 20px;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 34.73px;
    color: #fff;
    margin-left: 30px;
}

.nav-link {
    color: #ffff;
}

.nav-link.active {
    font-weight: 600;
}


.button-1 {
    height: 40px;
    margin-left: 300px;
    background-color: transparent;
    color: #fff;
    --bs-btn-color: transparent;
    --bs-btn-border-color: #ffff;
    --bs-btn-hover-color: var(--mainColor);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #ffff;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: transparent;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffff;
    --bs-gradient: none;
}

.button-2 {
    height: 40px;
    margin-right: 50px;
    background-color: transparent;
    color: #fff;
    --bs-btn-color: transparent;
    --bs-btn-border-color: #ffff;
    --bs-btn-hover-color: var(--mainColor);
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #ffff;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: transparent;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffff;
    --bs-gradient: none;
}

/* End Navbar */

/* Section Hero */
#hero {
    min-height: 100vh;
}

#hero .container {
    margin-left: 100px;
}

#hero h1 {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    margin-top: 200px;
}

.container p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.button-hero {
    display: inline-block;
    position: relative;
    background-color: #fff;
    --bs-btn-color: var(--mainColor);
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--mainColor);
    --bs-btn-hover-border-color: var(--mainColor);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffff;
    --bs-btn-disabled-border-color: #fff;
    --bs-gradient: none;
}

.img-hero {
    margin-top: 80px;
    padding-left: 100px;
}

/* End Section Hero */

/* Informasi */
.box {
    position: absolute;
    width: 1346px;
    height: 301px;
    background: var(--acsentColor);
    border: solid 1px;
    border-color: #BABABA;
    border-radius: 5px;
    margin-left: 100px;
    display: flex;
}

.informasi1 {
    padding-left: 100px;
}

.informasi2 {
    padding-left: 50px;
}

.informasi2 img {
    margin-left: 30px;
}

.informasi3 {
    padding-left: 20px;
}

.informasi3 img {
    margin-left: 40px;
}

.informasi4 {
    padding-left: 20px;
}

.informasi4 img {
    margin-left: 40px;
}


/* Informasi */
#informasi {
    min-height: 70vh;
    margin-top: 200px;
}

#informasi .title-section {
    color: var(--mainColor);
    font-family: 'Alfa Slab One';
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
}

#informasi p {
    color: #000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    margin-top: 20px;
}

#informasi .card {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 24px;

    width: 290px;
    height: 325px;

    background: #FBFBFB;
    border: 1px solid rgba(11, 94, 145, 0.2);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;

}

#informasi .card-body p {
    font-size: 14px;
}


#informasi .card:hover {
    transform: scale(1.1);
    background-color: #E9F4FF;
}

/* Dokumentasi */

#dokumentasi {
    min-height: 80vh;
}

#dokumentasi h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

#dokumentasi .caption {
    width: 279px;
    height: 94px;

    font-family: 'ZCOOL XiaoWei';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.333333px;

    color: #000000;
}

#dokumentasi .date {
    width: 279px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: -0.333333px;

    color: #000000;
}

/* Footer */
footer {
    min-height: 60vh;
    background-color: #0C2338;
    color: var(--acsentColor);
}

.footer-himua {
    padding-top: 100px;
    padding-left: 100px;
}

footer p {
    padding-top: 50px;
    color: #fff;
    font-family: 'Montserrat';
}

.button-kontak {
    width: 161px;
    height: 44px;

    margin-top: 30px;
    color: #fff;
    --bs-btn-color: #BAA971;
    --bs-btn-border-color: #ffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #BAA971;
    --bs-btn-hover-border-color: #BAA971;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #BAA971;
    --bs-btn-active-border-color: #BAA971;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #BAA971;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #BAA971;
    --bs-gradient: none;
}

.bantuan {
    padding-top: 180px;
    margin-left: 250px;
}

footer a {
    text-decoration: none;
    color: var(--acsentColor);
}

.sosmed {
    padding-top: 220px;
    margin-left: 100px;
}

.sosmed a {
    padding-right: 30px;
}

/* End Footer */